*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    background:black;
    color: white;
    max-width: 100%;
    overflow-y: hidden;
    height: 100vh;
    overflow-x: hidden;
}

header{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top:20px;
    padding-bottom: 20px;
    text-align:center;
    font-size:30px;
    background: rgb(163, 8, 8);

}

.score{
    font-size:20px;
    font-family:Impact,
    Haettenschweiler,
    'Arial Narrow Bold',
    sans-serif;
    margin:55px auto;
    text-align:center;
    border:1px solid;
    position:relative;
    width:250px;
    padding: 20px 20px;
    border-radius:5px;

}

#player{
    position:absolute;
    top:0;
    left:0;
    padding:5px;
}

#computer {
    position: absolute;
    top:0;
    right:0;
    padding:5px;
}

.result{
    text-align:center;
    font-size:35px;
    font-family:Impact,
    Haettenschweiler,
    'Arial Narrow Bold',
    sans-serif;
    font-weight:100;
    color:rgb(163, 8, 8);
    word-spacing: 3px;
    letter-spacing: 1px;
    padding-bottom:20px;
}

.choices {
    text-align: center;
    transition: all 0.3s ease;
}

.choice{
    display:inline-block;
    padding:30px;
    margin: 30px 25px;
    border:4px solid;
    border-radius:50%;
    transition: all 0.3s ease;
    opacity:1;
}

.choice:hover{
    background:rgb(44, 43, 43);

}

/* .action-message{
     text-align:center;
     font-size:30px;
     font-family:Impact,
     Haettenschweiler,
     'Arial Narrow Bold',
     sans-serif;
     font-weight:100;
     margin-top:25px;
} */

.green-effect{
    border:3px solid rgb(43, 204, 43);
    box-shadow: 0 0 15px rgb(43, 204, 43);
}

.red-effect {
    border: 3px solid rgb(196, 37, 37);
    box-shadow: 0 0 15px rgb(163, 8, 8);
}

.gray-effect {
    border: 3px solid rgb(107, 107, 105);
    box-shadow: 0 0 15px rgb(107, 107, 105);
}


#main{
    width:100%;
    height:100vh;
}

#pop-up{
 width:400px;
 height:300px;
 background:black;
 text-align:center;
 box-sizing:border-box;
 padding:20px;
 /* make it full page so user cannot interact with anything on the background */
 /* z-index: 1000;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%; */

 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%, -50%);
}



.modal {

  /* make it full page so user cannot interact with anything on the background */

    /* z-index: 1010; */

}

