*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background:black;
    color: white;
}

header{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top:20px;
    padding-bottom: 20px;
    text-align:center;
    font-size:30px;
    background: rgb(163, 8, 8);

}

.score{
    font-size:20px;
    font-family:Impact,
    Haettenschweiler,
    'Arial Narrow Bold',
    sans-serif;
    margin:55px auto;
    text-align:center;
    border:1px solid;
    position:relative;
    width:250px;
    padding: 20px 20px;
    border-radius:5px;

}

#player{
    position:absolute;
    top:0;
    left:0;
    padding:5px;
}

#computer {
    position: absolute;
    top:0;
    right:0;
    padding:5px;
}

.result{
    text-align:center;
    font-size:30px;
    font-family:Impact,
    Haettenschweiler,
    'Arial Narrow Bold',
    sans-serif;
    font-weight:100;
    color:rgb(163, 8, 8);
}

.choices {
    text-align: center;
    transition: all 0.3s ease;
}

.choice{
    display:inline-block;
    padding:30px;
    margin: 30px 25px;
    border:4px solid;
    border-radius:50%;
    transition: all 0.3s ease;
}

.choice:hover{
    background:rgb(163, 8, 8);
}

.action-message{
     text-align:center;
     font-size:30px;
     font-family:Impact,
     Haettenschweiler,
     'Arial Narrow Bold',
     sans-serif;
     font-weight:100;
     margin-top:25px;
}

